target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.idea/
*.iml
validation_params.csv
*.swp
*-actual.json
*-expected.json
results-*/
*.DS_Store
*.report
test-data/
*.log

social-network-sf*/
social-network-sf*.zip

tuning/graphics/*
tuning/ssh_keys/*
tuning/data/*
*.Rhistory
tuning/scripts/server.sh
tuning/scripts/get-plots.sh