version: 2.1
orbs:
  slack: circleci/slack@3.4.2
workflows:
  version: 2
  build:
    jobs:
      - test


jobs:
  test:
    resource_class: large
    machine:
      image: ubuntu-2204:2022.04.2
    steps:
      - checkout
      - run:
          name: Load Umbra Docker image
          command: |
            # ${UMBRA_URL_PREFIX} should be set as a sercet variable
            umbra/scripts/docker-load.sh
      - run:
          name: Setup
          command: |
            export DEBIAN_FRONTEND=noninteractive
            sudo apt update
            # install dependencies
            sudo apt install -y wget unzip
            scripts/install-dependencies.sh
      - run:
          name: Download data sets
          command: |
            # Cypher
            cd cypher
            ## compressed CSVs for Cypher
            scripts/get-sample-data-set.sh
            ## uncompressed CSVs for Cypher
            wget -q https://ldbcouncil.org/ldbc_snb_datagen_spark/social-network-sf0.003-bi-composite-projected-fk-neo4j.zip
            unzip -q social-network-sf0.003-bi-composite-projected-fk-neo4j.zip
            cd ..
            # Umbra
            cd umbra
            ## CSVs for Umbra
            scripts/get-sample-data-set.sh
            cd ..
            # TigerGraph
            cd tigergraph
            scripts/get-sample-data-set.sh
            cd ..
      - run:
          name: Test naive parameter generator
          command: |
            cd naive-paramgen
            scripts/get-sample-factors.sh
            . scripts/use-sample-factors.sh
            scripts/paramgen.sh
            cd ..
            head -n 3 parameters/parameters-sf${SF}/*.csv
      - run:
          name: Generate parameters for sample data set
          command: |
            cd paramgen
            scripts/get-sample-factors.sh
            . scripts/use-sample-factors.sh
            scripts/paramgen.sh
            cd ..
            head -n 3 parameters/parameters-sf${SF}/*.csv
      - run:
          name: Test Umbra toolchain (queries only) with buffersize option
          command: |
            cd umbra
            . scripts/use-sample-data-set.sh
            export UMBRA_BUFFER_SIZE=1G
            scripts/load-in-one-step.sh
            scripts/queries.sh --test
      - run:
          name: Test Umbra toolchain without buffersize
          command: |
            cd umbra
            . scripts/use-sample-data-set.sh
            scripts/load-in-one-step.sh
            scripts/backup-database.sh
            scripts/queries.sh --test

            # benchmark run in validation mode
            scripts/benchmark.sh --validate

            # benchmark run in test mode
            scripts/restore-database.sh
            scripts/benchmark.sh --test
            scripts/stop.sh
            cd ..
            scripts/score-test.sh umbra ${SF}
      - run:
          name: Test Cypher toolchain with uncompressed CSVs
          command: |
            cd cypher
            export SF=0.003
            export NEO4J_CSV_DIR=`pwd`/social-network-sf${SF}-bi-composite-projected-fk-neo4j/graphs/csv/bi/composite-projected-fk/
            scripts/load-in-one-step.sh
            scripts/backup-database.sh
            scripts/queries.sh --test

            # benchmark run in validation mode
            scripts/benchmark.sh --validate

            # benchmark run in test mode
            scripts/restore-database.sh
            scripts/benchmark.sh --test
            scripts/stop.sh

            # cross-validate using the test mode results
            cd ..
            scripts/cross-validate.sh cypher umbra
            scripts/score-test.sh cypher ${SF}
      - run:
          name: Test Cypher toolchain with compressed CSVs
          command: |
            # the sample data set contains compressed CSVs
            cd cypher
            . scripts/use-sample-data-set.sh
            scripts/load-in-one-step.sh
            scripts/backup-database.sh
            scripts/queries.sh --test

            # benchmark run in validation mode
            scripts/benchmark.sh --validate

            # benchmark run in test mode
            scripts/restore-database.sh
            scripts/benchmark.sh --test
            scripts/stop.sh

            # cross-validate using the test mode results
            cd ..
            scripts/cross-validate.sh cypher umbra
            scripts/score-test.sh cypher ${SF}
      - run:
          name: Test TigerGraph toolchain with compressed CSVs
          command: |
            # the sample data set contains compressed CSVs
            cd tigergraph
            . scripts/configure-data-set.sh
            scripts/load-in-one-step.sh
            scripts/backup-database.sh
            scripts/queries.sh --test

            # benchmark run in validation mode
            scripts/benchmark.sh --validate

            # benchmark run in test mode
            scripts/restore-database.sh
            scripts/benchmark.sh --test
            scripts/stop.sh

            # cross-validate using the test mode results
            cd ..
            scripts/cross-validate.sh tigergraph umbra
            scripts/score-test.sh tigergraph ${SF}
      - slack/status
